extends layout

block content
  a(href=`/auth/${ham}`) #{ham}
  h1= title
  p Welcome to #{title}

  table(style='width:20%', border='1')
    tr
      th Name
      th Price
    -for (var i = 0; i < stock_name.length; i++)
            tr
              th #{stock_name[i]}
              th #{stock_price[i]}