extends layout

block content
  h1= title
  p Welcome to #{title}
  p Stock name : #{stock_name_1}
  p Stock price: #{stock_price_1}
  p Stock name : #{stock_name_2}
  p Stock price: #{stock_price_2}
  p Stock name : #{stock_name_3}
  p Stock price: #{stock_price_3}
  p Stock name : #{stock_name_4}
  p Stock price: #{stock_price_4}
  p Stock name : #{stock_name_5}
  p Stock price: #{stock_price_5}
  p Stock name : #{stock_name_6}
  p Stock price: #{stock_price_6}
  p Stock name : #{stock_name_7}
  p Stock price: #{stock_price_7}
  p Stock name : #{stock_name_8}
  p Stock price: #{stock_price_8}
  p Stock name : #{stock_name_9}
  p Stock price: #{stock_price_9}
  p Stock name : #{stock_name_10}
  p Stock price: #{stock_price_10}