extends layout

block content
  a(href=`/auth/${isLogined}`) #{isLogined}
  h1= title
  p Welcome to #{title}
  canvas(id='myChart' width='400' height='400')
  script(src= 'https://cdn.jsdelivr.net/npm/chart.js')
  //script(src= 'javascripts/chartjs_test.js')
  script.
    let data = !{JSON.stringify(data)};
    let type = !{JSON.stringify(type)};
    let options = !{JSON.stringify(options)};
    const ctx = document.getElementById('myChart');
    myChart = new Chart(ctx, {type: type, data: data, options: options});
    // document.write('#{type}');
    // document.write('#{JSON.stringify(data)}');
    // document.write('#{options}');
    document.write(data);
    document.write(type);
    document.write(options);



  table(style='width:20%', border='1')
    tr
      th Name
      th Price
    -for (var i = 0; i < stock_name.length; i++)
            tr
              th #{stock_name[i]}
              th #{stock_price[i]}